.popup__button {
    min-height: 50px;
    background-color: #000000;
    font-size: 18px;
    line-height: 1.25;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    margin-top: 18px;
    transition: opacity 0.3s ease-in-out;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .popup__button {
    min-height: 30px;
    font-size: 14px;
    margin-top: 8px;
    }
}